# init

In [47]:
import pandas as pd
import geopandas as gpd
import warnings
import numpy as np

## configs

In [48]:
PATH = [
        "/home/shaghayegh/Downloads/project/NY/yellow_tripdata_2023-01.parquet"
        ,"/home/shaghayegh/Downloads/project/NY/yellow_tripdata_2023-02.parquet"
        ,"/home/shaghayegh/Downloads/project/NY/yellow_tripdata_2023-03.parquet"
        ,"/home/shaghayegh/Downloads/project/NY/yellow_tripdata_2023-04.parquet"
       ]

In [49]:
PATH_ZONES = "/home/shaghayegh/Downloads/project/NY/taxi_zones/taxi_zones.shp"

# load data

In [50]:
df_zones = gpd.read_file(PATH_ZONES)

In [51]:
df = pd.concat(pd.read_parquet(path) for path in PATH)

# concat data

## show data

In [52]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,NaN
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,NaN
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,NaN
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,NaN
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3288245,2,2023-04-30 23:50:19,2023-05-01 00:06:11,NaN,2.02,NaN,None,246,79,0,11.41,0.00,0.5,3.08,0.0,1.0,18.49,NaN,NaN,NaN
3288246,2,2023-04-30 23:28:32,2023-04-30 23:38:32,NaN,2.36,NaN,None,114,68,0,13.19,0.00,0.5,0.00,0.0,1.0,17.19,NaN,NaN,NaN
3288247,2,2023-04-30 23:25:26,2023-04-30 23:44:16,NaN,4.64,NaN,None,137,74,0,17.90,0.00,0.5,0.00,0.0,1.0,21.90,NaN,NaN,NaN
3288248,1,2023-04-30 23:11:59,2023-04-30 23:26:19,NaN,0.00,NaN,None,162,151,0,16.00,1.00,0.5,4.20,0.0,1.0,27.20,NaN,NaN,NaN
3288249,2,2023-04-30 23:04:08,2023-04-30 23:06:53,NaN,0.64,NaN,None,151,238,0,10.51,0.00,0.5,2.90,0.0,1.0,17.41,NaN,NaN,NaN

In [53]:
df.iloc[0]

VendorID                                   2
tpep_pickup_datetime     2023-01-01 00:32:10
tpep_dropoff_datetime    2023-01-01 00:40:36
passenger_count                          1.0
trip_distance                           0.97
RatecodeID                               1.0
store_and_fwd_flag                         N
PULocationID                             161
DOLocationID                             141
payment_type                               2
fare_amount                              9.3
extra                                    1.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    1.0
total_amount                            14.3
congestion_surcharge                     2.5
airport_fee                              0.0
Airport_fee                              NaN
Name: 0, dtype: object

# data preprocessing

In [54]:
df['Date'] = pd.to_datetime(df['tpep_pickup_datetime']).dt.date
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee,Date
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,NaN,2023-01-01
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,NaN,2023-01-01
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,NaN,2023-01-01
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,NaN,2023-01-01
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,NaN,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3288245,2,2023-04-30 23:50:19,2023-05-01 00:06:11,NaN,2.02,NaN,None,246,79,0,...,0.00,0.5,3.08,0.0,1.0,18.49,NaN,NaN,NaN,2023-04-30
3288246,2,2023-04-30 23:28:32,2023-04-30 23:38:32,NaN,2.36,NaN,None,114,68,0,...,0.00,0.5,0.00,0.0,1.0,17.19,NaN,NaN,NaN,2023-04-30
3288247,2,2023-04-30 23:25:26,2023-04-30 23:44:16,NaN,4.64,NaN,None,137,74,0,...,0.00,0.5,0.00,0.0,1.0,21.90,NaN,NaN,NaN,2023-04-30
3288248,1,2023-04-30 23:11:59,2023-04-30 23:26:19,NaN,0.00,NaN,None,162,151,0,...,1.00,0.5,4.20,0.0,1.0,27.20,NaN,NaN,NaN,2023-04-30
3288249,2,2023-04-30 23:04:08,2023-04-30 23:06:53,NaN,0.64,NaN,None,151,238,0,...,0.00,0.5,2.90,0.0,1.0,17.41,NaN,NaN,NaN,2023-04-30

In [55]:
date_min = pd.Timestamp('2023-01-01').date()
date_max = pd.Timestamp('2023-04-30').date()
df= df[df['Date'] >= date_min]
df = df[date_max >= df['Date']]
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee,Date
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,NaN,2023-01-01
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,NaN,2023-01-01
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,NaN,2023-01-01
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,NaN,2023-01-01
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,NaN,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3288245,2,2023-04-30 23:50:19,2023-05-01 00:06:11,NaN,2.02,NaN,None,246,79,0,...,0.00,0.5,3.08,0.0,1.0,18.49,NaN,NaN,NaN,2023-04-30
3288246,2,2023-04-30 23:28:32,2023-04-30 23:38:32,NaN,2.36,NaN,None,114,68,0,...,0.00,0.5,0.00,0.0,1.0,17.19,NaN,NaN,NaN,2023-04-30
3288247,2,2023-04-30 23:25:26,2023-04-30 23:44:16,NaN,4.64,NaN,None,137,74,0,...,0.00,0.5,0.00,0.0,1.0,21.90,NaN,NaN,NaN,2023-04-30
3288248,1,2023-04-30 23:11:59,2023-04-30 23:26:19,NaN,0.00,NaN,None,162,151,0,...,1.00,0.5,4.20,0.0,1.0,27.20,NaN,NaN,NaN,2023-04-30
3288249,2,2023-04-30 23:04:08,2023-04-30 23:06:53,NaN,0.64,NaN,None,151,238,0,...,0.00,0.5,2.90,0.0,1.0,17.41,NaN,NaN,NaN,2023-04-30

In [56]:
df['Week_days'] = df['tpep_pickup_datetime'].dt.day_name()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee,Date,Week_days
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,0.5,0.00,0.0,1.0,14.30,2.5,0.00,NaN,2023-01-01,Sunday
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,0.5,4.00,0.0,1.0,16.90,2.5,0.00,NaN,2023-01-01,Sunday
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,0.5,15.00,0.0,1.0,34.90,2.5,0.00,NaN,2023-01-01,Sunday
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,0.5,0.00,0.0,1.0,20.85,0.0,1.25,NaN,2023-01-01,Sunday
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,0.5,3.28,0.0,1.0,19.68,2.5,0.00,NaN,2023-01-01,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3288245,2,2023-04-30 23:50:19,2023-05-01 00:06:11,NaN,2.02,NaN,None,246,79,0,...,0.5,3.08,0.0,1.0,18.49,NaN,NaN,NaN,2023-04-30,Sunday
3288246,2,2023-04-30 23:28:32,2023-04-30 23:38:32,NaN,2.36,NaN,None,114,68,0,...,0.5,0.00,0.0,1.0,17.19,NaN,NaN,NaN,2023-04-30,Sunday
3288247,2,2023-04-30 23:25:26,2023-04-30 23:44:16,NaN,4.64,NaN,None,137,74,0,...,0.5,0.00,0.0,1.0,21.90,NaN,NaN,NaN,2023-04-30,Sunday
3288248,1,2023-04-30 23:11:59,2023-04-30 23:26:19,NaN,0.00,NaN,None,162,151,0,...,0.5,4.20,0.0,1.0,27.20,NaN,NaN,NaN,2023-04-30,Sunday
3288249,2,2023-04-30 23:04:08,2023-04-30 23:06:53,NaN,0.64,NaN,None,151,238,0,...,0.5,2.90,0.0,1.0,17.41,NaN,NaN,NaN,2023-04-30,Sunday

In [57]:
df.rename(columns={'PULocationID': 'LocationID'}, inplace=True)

In [58]:
merged_df = pd.merge(df, df_zones[['LocationID', 'zone']], on='LocationID')
merged_df[['LocationID', 'zone']]

          LocationID                       zone
0                161             Midtown Center
1                 43               Central Park
2                 48               Clinton East
3                138          LaGuardia Airport
4                107                   Gramercy
...              ...                        ...
12523575         246  West Chelsea/Hudson Yards
12523576         114    Greenwich Village South
12523577         137                   Kips Bay
12523578         162               Midtown East
12523579         151           Manhattan Valley

[12523580 rows x 2 columns]

In [59]:
merged_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,LocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Airport_fee,Date,Week_days,zone
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,0.00,0.0,1.0,14.30,2.5,0.00,NaN,2023-01-01,Sunday,Midtown Center
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,4.00,0.0,1.0,16.90,2.5,0.00,NaN,2023-01-01,Sunday,Central Park
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,15.00,0.0,1.0,34.90,2.5,0.00,NaN,2023-01-01,Sunday,Clinton East
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,0.00,0.0,1.0,20.85,0.0,1.25,NaN,2023-01-01,Sunday,LaGuardia Airport
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,3.28,0.0,1.0,19.68,2.5,0.00,NaN,2023-01-01,Sunday,Gramercy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12523575,2,2023-04-30 23:50:19,2023-05-01 00:06:11,NaN,2.02,NaN,None,246,79,0,...,3.08,0.0,1.0,18.49,NaN,NaN,NaN,2023-04-30,Sunday,West Chelsea/Hudson Yards
12523576,2,2023-04-30 23:28:32,2023-04-30 23:38:32,NaN,2.36,NaN,None,114,68,0,...,0.00,0.0,1.0,17.19,NaN,NaN,NaN,2023-04-30,Sunday,Greenwich Village South
12523577,2,2023-04-30 23:25:26,2023-04-30 23:44:16,NaN,4.64,NaN,None,137,74,0,...,0.00,0.0,1.0,21.90,NaN,NaN,NaN,2023-04-30,Sunday,Kips Bay
12523578,1,2023-04-30 23:11:59,2023-04-30 23:26:19,NaN,0.00,NaN,None,162,151,0,...,4.20,0.0,1.0,27.20,NaN,NaN,NaN,2023-04-30,Sunday,Midtown East
12523579,2,2023-04-30 23:04:08,2023-04-30 23:06:53,NaN,0.64,NaN,None,151,238,0,...,2.90,0.0,1.0,17.41,NaN,NaN,NaN,2023-04-30,Sunday,Manhattan Valley

In [60]:
warnings.filterwarnings('ignore')

# top 50 areas

In [61]:
pop_area_df = df.groupby('LocationID')['VendorID'].count().sort_values(ascending=False)
pop_area_df.head(50)

LocationID
132    635312
237    590734
161    580792
236    542459
162    444517
186    435413
230    423159
142    416781
138    401185
170    371145
163    363738
239    356186
48     346735
234    345065
68     318459
141    316348
79     315375
164    288945
249    279610
107    275653
140    261694
263    256601
238    253302
229    250602
100    209397
90     205391
43     201942
246    199697
262    173803
113    171074
231    168471
114    166020
233    160647
137    146209
143    140831
264    139967
148    131329
158    105478
144    105418
151    104212
211     91762
50      79587
75      76144
13      67788
125     61297
87      61281
166     60522
261     58104
70      57564
24      34187
Name: VendorID, dtype: int64

In [62]:
pop_area_df = merged_df.groupby('zone')['VendorID'].count().sort_values(ascending=False)
pop_area_df

zone
JFK Airport                            635312
Upper East Side South                  590734
Midtown Center                         580792
Upper East Side North                  542459
Midtown East                           444517
                                        ...
Freshkills Park                             8
Green-Wood Cemetery                         7
Rikers Island                               6
Oakwood                                     4
Breezy Point/Fort Tilden/Riis Beach         4
Name: VendorID, Length: 258, dtype: int64

In [63]:
pop_area_df = merged_df.groupby('zone')['VendorID'].count().sort_values(ascending=False).reset_index(name='count')
pop_area_df.head(50)

                             zone   count
0                     JFK Airport  635312
1           Upper East Side South  590734
2                  Midtown Center  580792
3           Upper East Side North  542459
4                    Midtown East  444517
5    Penn Station/Madison Sq West  435413
6       Times Sq/Theatre District  423159
7             Lincoln Square East  416781
8               LaGuardia Airport  401185
9                     Murray Hill  371145
10                  Midtown North  363738
11          Upper West Side South  356186
12                   Clinton East  346735
13                       Union Sq  345065
14                   East Chelsea  318459
15                Lenox Hill West  316348
16                   East Village  315375
17                  Midtown South  288945
18                   West Village  279610
19                       Gramercy  275653
20                Lenox Hill East  261694
21                 Yorkville West  256601
22          Upper West Side North  253302
23  Sutton Place/Turtle Bay North  250602
24               Garment District  209397
25                       Flatiron  205391
26                   Central Park  201942
27      West Chelsea/Hudson Yards  199697
28                 Yorkville East  173803
29        Greenwich Village North  171074
30           TriBeCa/Civic Center  168471
31        Greenwich Village South  166020
32            UN/Turtle Bay South  160647
33                       Kips Bay  146209
34            Lincoln Square West  140831
35                Lower East Side  131329
36  Meatpacking/West Village West  105478
37            Little Italy/NoLiTa  105418
38               Manhattan Valley  104212
39                           SoHo   91762
40                   Clinton West   79587
41              East Harlem South   76144
42              Battery Park City   67788
43                      Hudson Sq   61297
44       Financial District North   61281
45            Morningside Heights   60522
46             World Trade Center   58104
47                  East Elmhurst   57564
48                   Bloomingdale   34187
49       Financial District South   31376

In [64]:
top_50_areas = pop_area_df.head(50)['zone'].tolist()
top_50_areas

['JFK Airport',
 'Upper East Side South',
 'Midtown Center',
 'Upper East Side North',
 'Midtown East',
 'Penn Station/Madison Sq West',
 'Times Sq/Theatre District',
 'Lincoln Square East',
 'LaGuardia Airport',
 'Murray Hill',
 'Midtown North',
 'Upper West Side South',
 'Clinton East',
 'Union Sq',
 'East Chelsea',
 'Lenox Hill West',
 'East Village',
 'Midtown South',
 'West Village',
 'Gramercy',
 'Lenox Hill East',
 'Yorkville West',
 'Upper West Side North',
 'Sutton Place/Turtle Bay North',
 'Garment District',
 'Flatiron',
 'Central Park',
 'West Chelsea/Hudson Yards',
 'Yorkville East',
 'Greenwich Village North',
 'TriBeCa/Civic Center',
 'Greenwich Village South',
 'UN/Turtle Bay South',
 'Kips Bay',
 'Lincoln Square West',
 'Lower East Side',
 'Meatpacking/West Village West',
 'Little Italy/NoLiTa',
 'Manhattan Valley',
 'SoHo',
 'Clinton West',
 'East Harlem South',
 'Battery Park City',
 'Hudson Sq',
 'Financial District North',
 'Morningside Heights',
 'World Trade Center',
 'East Elmhurst',
 'Bloomingdale',
 'Financial District South']

In [65]:
pop_area_df = merged_df.groupby('zone')['LocationID'].count().sort_values(ascending=False).reset_index(name='count')
pop_area_df.head(50)

                             zone   count
0                     JFK Airport  635312
1           Upper East Side South  590734
2                  Midtown Center  580792
3           Upper East Side North  542459
4                    Midtown East  444517
5    Penn Station/Madison Sq West  435413
6       Times Sq/Theatre District  423159
7             Lincoln Square East  416781
8               LaGuardia Airport  401185
9                     Murray Hill  371145
10                  Midtown North  363738
11          Upper West Side South  356186
12                   Clinton East  346735
13                       Union Sq  345065
14                   East Chelsea  318459
15                Lenox Hill West  316348
16                   East Village  315375
17                  Midtown South  288945
18                   West Village  279610
19                       Gramercy  275653
20                Lenox Hill East  261694
21                 Yorkville West  256601
22          Upper West Side North  253302
23  Sutton Place/Turtle Bay North  250602
24               Garment District  209397
25                       Flatiron  205391
26                   Central Park  201942
27      West Chelsea/Hudson Yards  199697
28                 Yorkville East  173803
29        Greenwich Village North  171074
30           TriBeCa/Civic Center  168471
31        Greenwich Village South  166020
32            UN/Turtle Bay South  160647
33                       Kips Bay  146209
34            Lincoln Square West  140831
35                Lower East Side  131329
36  Meatpacking/West Village West  105478
37            Little Italy/NoLiTa  105418
38               Manhattan Valley  104212
39                           SoHo   91762
40                   Clinton West   79587
41              East Harlem South   76144
42              Battery Park City   67788
43                      Hudson Sq   61297
44       Financial District North   61281
45            Morningside Heights   60522
46             World Trade Center   58104
47                  East Elmhurst   57564
48                   Bloomingdale   34187
49       Financial District South   31376

# trips per area and date

In [66]:
Daily_trips_df = merged_df.groupby(['Date', 'LocationID', 'Week_days']).size().reset_index(name='Daily_trips')

Daily_trips_df

             Date  LocationID Week_days  Daily_trips
0      2023-01-01           1    Sunday           40
1      2023-01-01           4    Sunday          174
2      2023-01-01           5    Sunday            3
3      2023-01-01           6    Sunday            1
4      2023-01-01           7    Sunday          126
...           ...         ...       ...          ...
26280  2023-04-30         259    Sunday            2
26281  2023-04-30         260    Sunday           21
26282  2023-04-30         261    Sunday          440
26283  2023-04-30         262    Sunday         1214
26284  2023-04-30         263    Sunday         2189

[26285 rows x 4 columns]

## 10 days df of top 50 areas

In [67]:
a = merged_df[merged_df['zone'].isin(top_50_areas)]
top_50_areas_id = set(a['LocationID'])
top_50_areas_id

{13,
 24,
 43,
 48,
 50,
 68,
 70,
 75,
 79,
 87,
 88,
 90,
 100,
 107,
 113,
 114,
 125,
 132,
 137,
 138,
 140,
 141,
 142,
 143,
 144,
 148,
 151,
 158,
 161,
 162,
 163,
 164,
 166,
 170,
 186,
 211,
 229,
 230,
 231,
 233,
 234,
 236,
 237,
 238,
 239,
 246,
 249,
 261,
 262,
 263}

In [68]:
top_50_areas_df = Daily_trips_df[Daily_trips_df['LocationID'].isin(top_50_areas_id)]
top_50_areas_df

             Date  LocationID Week_days  Daily_trips
9      2023-01-01          13    Sunday          398
18     2023-01-01          24    Sunday          220
34     2023-01-01          43    Sunday         1129
38     2023-01-01          48    Sunday         2894
40     2023-01-01          50    Sunday          868
...           ...         ...       ...          ...
26271  2023-04-30         246    Sunday         1384
26274  2023-04-30         249    Sunday         2490
26282  2023-04-30         261    Sunday          440
26283  2023-04-30         262    Sunday         1214
26284  2023-04-30         263    Sunday         2189

[6000 rows x 4 columns]

In [69]:
#all_trips_df['1_day_lag'] = all_trips_df.rolling(window=2, on = 'Daily_trips')
#all_trips_df

In [70]:
#all_trips_df['1_day_lag'] = all_trips_df['Daily_trips'].rolling(window=2).mean()
#all_trips_df

In [71]:
top_50_areas_df['1_day_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=2)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

             Date  LocationID Week_days  Daily_trips  1_day_lag
9      2023-01-01          13    Sunday          398        NaN
18     2023-01-01          24    Sunday          220        NaN
34     2023-01-01          43    Sunday         1129        NaN
38     2023-01-01          48    Sunday         2894        NaN
40     2023-01-01          50    Sunday          868        NaN
...           ...         ...       ...          ...        ...
26271  2023-04-30         246    Sunday         1384     1810.0
26274  2023-04-30         249    Sunday         2490     3530.0
26282  2023-04-30         261    Sunday          440      481.0
26283  2023-04-30         262    Sunday         1214     1445.0
26284  2023-04-30         263    Sunday         2189     2671.0

[6000 rows x 5 columns]

In [72]:
#all_trips_df['1_day_lag'] = all_trips_df.groupby('LocationID')['Daily_trips'].transform(lambda x: x.shift(1))

In [73]:
top_50_areas_df['2_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=3)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

             Date  LocationID Week_days  Daily_trips  1_day_lag  2_days_lag
9      2023-01-01          13    Sunday          398        NaN         NaN
18     2023-01-01          24    Sunday          220        NaN         NaN
34     2023-01-01          43    Sunday         1129        NaN         NaN
38     2023-01-01          48    Sunday         2894        NaN         NaN
40     2023-01-01          50    Sunday          868        NaN         NaN
...           ...         ...       ...          ...        ...         ...
26271  2023-04-30         246    Sunday         1384     1810.0      1628.0
26274  2023-04-30         249    Sunday         2490     3530.0      2734.0
26282  2023-04-30         261    Sunday          440      481.0       551.0
26283  2023-04-30         262    Sunday         1214     1445.0      1785.0
26284  2023-04-30         263    Sunday         2189     2671.0      2561.0

[6000 rows x 6 columns]

In [74]:
top_50_areas_df['3_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=4)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df = top_50_areas_df.dropna()
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag
660,2023-01-04,13,Wednesday,493,446.0,381.0,398.0
671,2023-01-04,24,Wednesday,277,261.0,169.0,220.0
687,2023-01-04,43,Wednesday,1464,1474.0,1283.0,1129.0
691,2023-01-04,48,Wednesday,2360,2053.0,1624.0,2894.0
693,2023-01-04,50,Wednesday,491,502.0,447.0,868.0
...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0

In [75]:
top_50_areas_df['4_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=5)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag
660,2023-01-04,13,Wednesday,493,446.0,381.0,398.0,NaN
671,2023-01-04,24,Wednesday,277,261.0,169.0,220.0,NaN
687,2023-01-04,43,Wednesday,1464,1474.0,1283.0,1129.0,NaN
691,2023-01-04,48,Wednesday,2360,2053.0,1624.0,2894.0,NaN
693,2023-01-04,50,Wednesday,491,502.0,447.0,868.0,NaN
...,...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0

In [76]:
top_50_areas_df['5_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=6)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag
660,2023-01-04,13,Wednesday,493,446.0,381.0,398.0,NaN,NaN
671,2023-01-04,24,Wednesday,277,261.0,169.0,220.0,NaN,NaN
687,2023-01-04,43,Wednesday,1464,1474.0,1283.0,1129.0,NaN,NaN
691,2023-01-04,48,Wednesday,2360,2053.0,1624.0,2894.0,NaN,NaN
693,2023-01-04,50,Wednesday,491,502.0,447.0,868.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0

In [77]:
top_50_areas_df['6_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=7)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag
660,2023-01-04,13,Wednesday,493,446.0,381.0,398.0,NaN,NaN,NaN
671,2023-01-04,24,Wednesday,277,261.0,169.0,220.0,NaN,NaN,NaN
687,2023-01-04,43,Wednesday,1464,1474.0,1283.0,1129.0,NaN,NaN,NaN
691,2023-01-04,48,Wednesday,2360,2053.0,1624.0,2894.0,NaN,NaN,NaN
693,2023-01-04,50,Wednesday,491,502.0,447.0,868.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0

In [78]:
top_50_areas_df['7_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=8)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag
660,2023-01-04,13,Wednesday,493,446.0,381.0,398.0,NaN,NaN,NaN,NaN
671,2023-01-04,24,Wednesday,277,261.0,169.0,220.0,NaN,NaN,NaN,NaN
687,2023-01-04,43,Wednesday,1464,1474.0,1283.0,1129.0,NaN,NaN,NaN,NaN
691,2023-01-04,48,Wednesday,2360,2053.0,1624.0,2894.0,NaN,NaN,NaN,NaN
693,2023-01-04,50,Wednesday,491,502.0,447.0,868.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0

In [79]:
top_50_areas_df['8_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=9)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag,8_days_lag
660,2023-01-04,13,Wednesday,493,446.0,381.0,398.0,NaN,NaN,NaN,NaN,NaN
671,2023-01-04,24,Wednesday,277,261.0,169.0,220.0,NaN,NaN,NaN,NaN,NaN
687,2023-01-04,43,Wednesday,1464,1474.0,1283.0,1129.0,NaN,NaN,NaN,NaN,NaN
691,2023-01-04,48,Wednesday,2360,2053.0,1624.0,2894.0,NaN,NaN,NaN,NaN,NaN
693,2023-01-04,50,Wednesday,491,502.0,447.0,868.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0,2116.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0

In [80]:
top_50_areas_df['9_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=10)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag,8_days_lag,9_days_lag
660,2023-01-04,13,Wednesday,493,446.0,381.0,398.0,NaN,NaN,NaN,NaN,NaN,NaN
671,2023-01-04,24,Wednesday,277,261.0,169.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN
687,2023-01-04,43,Wednesday,1464,1474.0,1283.0,1129.0,NaN,NaN,NaN,NaN,NaN,NaN
691,2023-01-04,48,Wednesday,2360,2053.0,1624.0,2894.0,NaN,NaN,NaN,NaN,NaN,NaN
693,2023-01-04,50,Wednesday,491,502.0,447.0,868.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0,2116.0,1568.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0,2592.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0,570.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0,1611.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0,2464.0

In [81]:
top_50_areas_df['10_days_lag'] = (
    top_50_areas_df
    .groupby('LocationID')['Daily_trips']
    .rolling(window=11)
    .apply(lambda x: x.iloc[0] if len(x) >= 1 else None)
    .reset_index(level=0, drop=True)
)
top_50_areas_df = top_50_areas_df.dropna()
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag,8_days_lag,9_days_lag,10_days_lag
2849,2023-01-14,13,Saturday,420,572.0,645.0,683.0,633.0,456.0,278.0,417.0,507.0,614.0,493.0
2858,2023-01-14,24,Saturday,278,311.0,311.0,300.0,271.0,239.0,225.0,320.0,306.0,288.0,277.0
2873,2023-01-14,43,Saturday,1938,1806.0,1696.0,1549.0,1550.0,1376.0,1340.0,1919.0,1994.0,1859.0,1464.0
2877,2023-01-14,48,Saturday,3712,2966.0,2865.0,2638.0,2501.0,2039.0,2725.0,3232.0,2787.0,2632.0,2360.0
2879,2023-01-14,50,Saturday,648,685.0,632.0,617.0,553.0,464.0,578.0,651.0,628.0,532.0,491.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26271,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0,2116.0,1568.0,1889.0
26274,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0,2592.0,2296.0
26282,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0,570.0,663.0
26283,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0,1611.0,1795.0
26284,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0,2464.0,2262.0

## top 50 areas data frame

In [82]:
top_50_areas_df.to_csv('/home/shaghayegh/class/New York project/top50areas.csv', index=False)

In [83]:
top_50_areas_df = pd.read_csv('/home/shaghayegh/class/New York project/top50areas.csv')
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag,8_days_lag,9_days_lag,10_days_lag
0,2023-01-14,13,Saturday,420,572.0,645.0,683.0,633.0,456.0,278.0,417.0,507.0,614.0,493.0
1,2023-01-14,24,Saturday,278,311.0,311.0,300.0,271.0,239.0,225.0,320.0,306.0,288.0,277.0
2,2023-01-14,43,Saturday,1938,1806.0,1696.0,1549.0,1550.0,1376.0,1340.0,1919.0,1994.0,1859.0,1464.0
3,2023-01-14,48,Saturday,3712,2966.0,2865.0,2638.0,2501.0,2039.0,2725.0,3232.0,2787.0,2632.0,2360.0
4,2023-01-14,50,Saturday,648,685.0,632.0,617.0,553.0,464.0,578.0,651.0,628.0,532.0,491.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5345,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0,2116.0,1568.0,1889.0
5346,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0,2592.0,2296.0
5347,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0,570.0,663.0
5348,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0,1611.0,1795.0
5349,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0,2464.0,2262.0