# init

## imports

In [6]:
import math
import numpy as np
import os
import pandas as pd
import warnings

from tabulate import tabulate

warnings.filterwarnings('ignore')

## configs

In [4]:
PREDICTION_DATA_PATH = os.path.expanduser('~/class/new_york/data/test.csv')

# load data

In [5]:
pred_df = pd.read_csv(PREDICTION_DATA_PATH)
pred_df

,Date,PULocationID,Daily_trips,1_day_lag,2_day_lag,3_day_lag,4_day_lag,5_day_lag,6_day_lag,7_day_lag,8_day_lag,9_day_lag,10_day_lag,Pred_dt,Pred_rf
0,2023-04-01,13,518,672.0,753.0,760.0,746.0,556.0,402.0,480.0,605.0,740.0,710.0,469.793651,458.082
1,2023-04-01,24,335,318.0,316.0,275.0,238.0,250.0,268.0,269.0,300.0,266.0,272.0,267.230769,302.600
2,2023-04-01,43,1888,1776.0,1686.0,1489.0,1537.0,1435.0,1568.0,1985.0,1714.0,1831.0,1348.0,1891.365079,1970.318
3,2023-04-01,48,3868,3224.0,3112.0,2934.0,2628.0,2392.0,3034.0,3780.0,3073.0,3114.0,2880.0,3651.555556,3615.644
4,2023-04-01,50,842,774.0,675.0,668.0,613.0,564.0,712.0,772.0,639.0,645.0,595.0,803.000000,758.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2023-04-30,249,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0,2592.0,2296.0,2547.978261,2600.132
1496,2023-04-30,261,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0,570.0,663.0,417.212766,453.692
1497,2023-04-30,262,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0,1611.0,1795.0,1198.690476,1282.666
1498,2023-04-30,263,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0,2464.0,2262.0,2056.925000,2096.156
1499,2023-04-30,264,1007,1367.0,1310.0,1230.0,1110.0,1043.0,930.0,1066.0,1396.0,1160.0,1267.0,1149.321429,1122.274

# evaluation

## utillity functions

In [9]:
def mape(real, pred):
    return (abs(pred - real) / real).mean()

def rmse(real, pred):
    return math.sqrt(((pred - real) ** 2).mean())

## methods

In [14]:
results_dict = {}

### yesterday

In [15]:
results_dict['yesterday'] = {
    'mape': mape(pred_df['Daily_trips'], pred_df['1_day_lag']),
    'rmse': rmse(pred_df['Daily_trips'], pred_df['1_day_lag'])
}

### last week

In [16]:
results_dict['last_week'] = {
    'mape': mape(pred_df['Daily_trips'], pred_df['7_day_lag']),
    'rmse': rmse(pred_df['Daily_trips'], pred_df['7_day_lag'])
}

### decision tree

In [18]:
results_dict['decision_tree'] = {
    'mape': mape(pred_df['Daily_trips'], pred_df['Pred_dt']),
    'rmse': rmse(pred_df['Daily_trips'], pred_df['Pred_dt'])
}

### random forest

In [19]:
results_dict['random_forest'] = {
    'mape': mape(pred_df['Daily_trips'], pred_df['Pred_rf']),
    'rmse': rmse(pred_df['Daily_trips'], pred_df['Pred_rf'])
}

## summerize

In [22]:
result_table = [
    [method, results_dict[method]['mape'], results_dict[method]['rmse']]
    for method in results_dict
]
print(tabulate(result_table, headers=["Method","MAPE", "RMSE"], tablefmt="simple_grid"))

┌───────────────┬───────────┬─────────┐
│ Method        │      MAPE │    RMSE │
├───────────────┼───────────┼─────────┤
│ yesterday     │ 0.177427  │ 493.059 │
├───────────────┼───────────┼─────────┤
│ last_week     │ 0.0964221 │ 279.786 │
├───────────────┼───────────┼─────────┤
│ decision_tree │ 0.0958253 │ 274.928 │
├───────────────┼───────────┼─────────┤
│ random_forest │ 0.0822316 │ 238.989 │
└───────────────┴───────────┴─────────┘