# init

In [14]:
import pandas as pd
import warnings
import math
import numpy as np
from tabulate import tabulate

# load data

In [15]:
top_50_areas_df = pd.read_csv('/home/shaghayegh/class/New York project/test.csv')
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag,8_days_lag,9_days_lag,10_days_lag,Pred_dt,Pred_rf
0,2023-04-01,13,Saturday,518,672.0,753.0,760.0,746.0,556.0,402.0,480.0,605.0,740.0,710.0,463.968750,455.842
1,2023-04-01,24,Saturday,335,318.0,316.0,275.0,238.0,250.0,268.0,269.0,300.0,266.0,272.0,304.833333,290.414
2,2023-04-01,43,Saturday,1888,1776.0,1686.0,1489.0,1537.0,1435.0,1568.0,1985.0,1714.0,1831.0,1348.0,1892.741935,1999.510
3,2023-04-01,48,Saturday,3868,3224.0,3112.0,2934.0,2628.0,2392.0,3034.0,3780.0,3073.0,3114.0,2880.0,3651.555556,3577.452
4,2023-04-01,50,Saturday,842,774.0,675.0,668.0,613.0,564.0,712.0,772.0,639.0,645.0,595.0,793.204545,745.756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0,2116.0,1568.0,1889.0,1696.179104,1672.688
1496,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0,2592.0,2296.0,2543.522727,2535.112
1497,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0,570.0,663.0,463.968750,465.702
1498,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0,1611.0,1795.0,1193.775000,1278.708
1499,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0,2464.0,2262.0,2035.375000,2056.892

In [16]:
warnings.filterwarnings('ignore')

## top 50 areas mape & rmse

In [17]:
def mape(real, pred):
    return (abs(pred - real) / real).mean()


mape_1_day_lag = mape(top_50_areas_df['Daily_trips'], top_50_areas_df['1_day_lag'])
mape_1_day_lag

0.1794028571592319

In [18]:
mape_7_days_lag = mape(top_50_areas_df['Daily_trips'], top_50_areas_df['7_days_lag'])
mape_7_days_lag

0.09701028458760223

In [19]:
def rmse(real, pred):
    a =((pred - real) ** 2).mean()
    return math.sqrt(a)

rmse_1_day_lag = rmse(top_50_areas_df['Daily_trips'], top_50_areas_df['1_day_lag'])
rmse_1_day_lag

492.71002154749533

In [20]:
rmse_7_days_lag = rmse(top_50_areas_df['Daily_trips'], top_50_areas_df['7_days_lag'])
rmse_7_days_lag

279.27827937978515

In [21]:
top_50_areas_df['ratio'] = top_50_areas_df['1_day_lag'] / top_50_areas_df['8_days_lag']
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag,8_days_lag,9_days_lag,10_days_lag,Pred_dt,Pred_rf,ratio
0,2023-04-01,13,Saturday,518,672.0,753.0,760.0,746.0,556.0,402.0,480.0,605.0,740.0,710.0,463.968750,455.842,1.110744
1,2023-04-01,24,Saturday,335,318.0,316.0,275.0,238.0,250.0,268.0,269.0,300.0,266.0,272.0,304.833333,290.414,1.060000
2,2023-04-01,43,Saturday,1888,1776.0,1686.0,1489.0,1537.0,1435.0,1568.0,1985.0,1714.0,1831.0,1348.0,1892.741935,1999.510,1.036173
3,2023-04-01,48,Saturday,3868,3224.0,3112.0,2934.0,2628.0,2392.0,3034.0,3780.0,3073.0,3114.0,2880.0,3651.555556,3577.452,1.049138
4,2023-04-01,50,Saturday,842,774.0,675.0,668.0,613.0,564.0,712.0,772.0,639.0,645.0,595.0,793.204545,745.756,1.211268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0,2116.0,1568.0,1889.0,1696.179104,1672.688,0.855388
1496,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0,2592.0,2296.0,2543.522727,2535.112,1.102780
1497,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0,570.0,663.0,463.968750,465.702,0.787234
1498,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0,1611.0,1795.0,1193.775000,1278.708,0.995865
1499,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0,2464.0,2262.0,2035.375000,2056.892,0.903280

In [22]:
top_50_areas_df['pred'] = top_50_areas_df['7_days_lag'] * top_50_areas_df['ratio']
top_50_areas_df

,Date,LocationID,Week_days,Daily_trips,1_day_lag,2_days_lag,3_days_lag,4_days_lag,5_days_lag,6_days_lag,7_days_lag,8_days_lag,9_days_lag,10_days_lag,Pred_dt,Pred_rf,ratio,pred
0,2023-04-01,13,Saturday,518,672.0,753.0,760.0,746.0,556.0,402.0,480.0,605.0,740.0,710.0,463.968750,455.842,1.110744,533.157025
1,2023-04-01,24,Saturday,335,318.0,316.0,275.0,238.0,250.0,268.0,269.0,300.0,266.0,272.0,304.833333,290.414,1.060000,285.140000
2,2023-04-01,43,Saturday,1888,1776.0,1686.0,1489.0,1537.0,1435.0,1568.0,1985.0,1714.0,1831.0,1348.0,1892.741935,1999.510,1.036173,2056.802800
3,2023-04-01,48,Saturday,3868,3224.0,3112.0,2934.0,2628.0,2392.0,3034.0,3780.0,3073.0,3114.0,2880.0,3651.555556,3577.452,1.049138,3965.740319
4,2023-04-01,50,Saturday,842,774.0,675.0,668.0,613.0,564.0,712.0,772.0,639.0,645.0,595.0,793.204545,745.756,1.211268,935.098592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2023-04-30,246,Sunday,1384,1810.0,1628.0,2119.0,1826.0,1744.0,1394.0,1676.0,2116.0,1568.0,1889.0,1696.179104,1672.688,0.855388,1433.629490
1496,2023-04-30,249,Sunday,2490,3530.0,2734.0,2363.0,2081.0,1774.0,1452.0,2419.0,3201.0,2592.0,2296.0,2543.522727,2535.112,1.102780,2667.625742
1497,2023-04-30,261,Sunday,440,481.0,551.0,583.0,598.0,497.0,441.0,477.0,611.0,570.0,663.0,463.968750,465.702,0.787234,375.510638
1498,2023-04-30,262,Sunday,1214,1445.0,1785.0,1693.0,1735.0,1579.0,1465.0,1221.0,1451.0,1611.0,1795.0,1193.775000,1278.708,0.995865,1215.951068
1499,2023-04-30,263,Sunday,2189,2671.0,2561.0,2178.0,2069.0,1932.0,1735.0,1970.0,2957.0,2464.0,2262.0,2035.375000,2056.892,0.903280,1779.462293

In [23]:
mape_prediction = mape(top_50_areas_df['Daily_trips'], top_50_areas_df['pred'] )
mape_prediction

0.0917075355307207

In [24]:
rmse_prediction = rmse(top_50_areas_df['Daily_trips'], top_50_areas_df['pred'] )
rmse_prediction

264.40198566572843

In [25]:
result_table = [["1_day_lag",mape_1_day_lag, rmse_1_day_lag],
         ["7_days_lag",mape_7_days_lag, rmse_7_days_lag],
         ["Prediction",mape_prediction, rmse_prediction]]
print(tabulate(result_table, headers=["FREQUENCY","MAPE", "RMSE"], tablefmt="simple_grid"))

┌─────────────┬───────────┬─────────┐
│ FREQUENCY   │      MAPE │    RMSE │
├─────────────┼───────────┼─────────┤
│ 1_day_lag   │ 0.179403  │ 492.71  │
├─────────────┼───────────┼─────────┤
│ 7_days_lag  │ 0.0970103 │ 279.278 │
├─────────────┼───────────┼─────────┤
│ Prediction  │ 0.0917075 │ 264.402 │
└─────────────┴───────────┴─────────┘